*{
  margin :0;
  padding: 0;
  box-sizing:border-box;
}

body{
  background-color: #339AF0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{

  background-color: white;
  color: #339AF0;
  position:relative;
  width: 400px;
  height: 120px; /*105*/
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  margin-top: 100px;
  transition: height 0.5s ease-out;
}

.container.animation {
  height: 560px;
}

input::placeholder{
  color:#339AF0;
}

.searchBar{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBar input{
  width :80%;
  font-size: 24px;
}


.weatherBox{
  margin-top: -30px;
  text-align: center;
  margin-bottom: 40px;
}

.weatherDetails{
  display: flex;
  width : 100%;
  justify-content: space-between;
}

.weatherDetails .humidity, .weatherDetails .windSpeed{
  display: flex;
  align-items: center;
  font-size :12px;
  width: 40%;
  height: 100px;
}

.weatherDetails span{
  color: #339AF0;
  font-size: 16px;
  font-weight: 500;
}

.weatherDetails .humidity{
  justify-content: flex-start;
  padding-left: 10px;
}

.weatherDetails .windSpeed{
  justify-content: flex-end;
  padding-right: 10px;
  width: 45%;
}

.text
{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.notFound
{
  margin-top : 30px;
  text-align: center;
  display:none;
}

.notFound img
{
  margin-top: 30px;
  max-width: 70%;
  max-height: auto;
}

.weatherBox img
{
  margin-top: 30px;
  max-width: 70%;
  max-height: 70%;
}

.weatherBox .temperature
{
  font-size: 50px;
}

.weatherBox .description{
  font-size: 30px;
}